bandas.png
Bill Chambers, Matei Zaharia - Spark_ The Definitive Guide_ Big Data Processing Made Simple-O’Reilly Media (2018).pdf
Decision_trees_KNN.ipynb
Hannes Hapke, Catherine Nelson - Building Machine Learning Pipelines_ Automating Model Life Cycles with TensorFlow-O'Reilly Media (2020).pdf
LCurve.png
phase_TS.png
Propuesta de proyecto.pdf
proyecto_final.ipynb
README.md
SN98bu_LC.mp4
telecom_churn.csv
test_set_sample.csv
training_set.csv
training_set_metadata.csv
tree.png
unprocessed_TS.png
Y_Psc_Animated_LC.gif
